.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(100,100,100, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.grayscale {
  filter: grayscale(1);
  opacity: 0.5;
}

.dropdown-toggle::after {
  display: none !important;
}

.margintoggler {
  margin-left: 10px;
}

.dropdown-menu {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
}

.navbar {
  background-color: #161616;
}

.space {
  padding: 5px;
  justify-content: end;
}

.margin-top {
  margin-top: 30px!important;
}
.slide1 {
  background-image: url(Imagini/Background1.png);
  background-color: #161616;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

img.img3-style {
  width: 100%;
}
.style3 {
  position: relative;
  top: 100px;
}

.margin {
  margin-left: 100px;
}

.text-struct1 {
  max-width: 390px;
  margin-top: 5px;
}

.font {
  color: white;
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
}

.line-space {
  line-height: 100px;
}

.line-sp {
  line-height: 70px;
}

.imagineamea {
  padding: 2%;
}

.lines {
  line-height: 30px;
  font-weight: 30px;
}

.line {
  line-height: 50px;
}

.subt {
  font-size: 60px;
  color: white;
  max-width: 70%;
}

.text {
  font-size: 16px;
  color: white;
}
.marginbutton{
  padding-block: 46px!important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-weight: bold !important;
  font-size: 30px !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 40;
}

.mySwiper {
  width: 90%;
  height: 90%;
}

.mySwiper1 {
  padding: 0px 67px !important;
}

.mySwiper {
  padding: 0 67px !important;
}

.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.style9.padding {
  max-width: 850px;
  background: #f5f5f5d4;
  position: absolute;
  top: 80px;
  right: 0px;
  

padding: 32px 144px 32px 50px;}
.marginebutton {
  padding-top: 110px;
  padding-bottom: 60px;
  background-color: #161616;
  border: 1px solid rgb(63, 62, 62);
  padding-top: 30px;

}
/* sa nu mai apara subliniat */
.textdec {
  text-decoration: none !important;
}

/* paddind pentru distantiere inre imagine si scris :)) */
img.img-padding {
  padding-right: 10px;
  padding-left: 0px;
}

.text-slide2 {
  position: absolute !important;
  margin-top: 28px;
}

.slide2 .col-md-6 {
  width: 25%;
}

.img2-style {
  margin-bottom: 100px;
  position: relative;
}

/* pt. a se incadra pe 2 background-uri, se foloseste position absolute!! */
.slide3 .padding {
  max-width: 850px;
  background: #f5f5f5e5;
  position: absolute;
  top: 0px;
  left: 100px;
}

.text-slide3 {
  margin-top: 30px;
}

.padding {
  padding: 100px 100px;
}

.text-center {
  text-align: center;
}

.slide4 {
  background-color: white;
  margin-top: 200px;
}

.text-slide4 {
  margin-top: 20px;
  width: 63%;
  margin-left: auto;
  margin-right: auto;
}

.swiper {
  width: auto;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.color{
  color: #000;
}
.text-struct {
  margin-top: 30px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.style-title5 {
  padding-top: 120px;
  margin-bottom: 30px;
}

.img-swiper1 {
  width: 82px;
  height: 110px;
}

.img-swiper2 {
  width: 197px;
  height: 42px;
}

.img-swiper3 {
  width: 90px;
  height: 108px;
}

.img-swiper4 {
  width: 105px;
  height: 106px;
}

.img-swiper5 {
  width: 107px;
  height: 107px;
}

.img-swiper6 {
  width: 159px;
  height: 54px;
}

.img-swiper7 {
  width: 93px;
  height: 93px;
}

.subt-width {
  width: 60%;
  margin: auto;
}


.button1 {
  background-color: white !important;
  border: none !important;
  color: red !important;
  width: 254px !important;
  height: 62px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  cursor: pointer !important;
  border-radius: 31px !important;
}


.pos-image {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.pos-image img {
  width: 100%;
  height: auto;
}

.pos-image .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.col-md {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.imaginheight {
  bottom: 0px !important;
}

.padding7:hover {
  opacity: 0.6;
  cursor: pointer;
}

.style-title7 {
  padding-top: 105px;
  margin-bottom: 30px;
}

.text-image7 {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 65px;
}

.centered {
  position: relative;
  bottom: 45px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subt-width1 {
  width: 50%;
  margin: auto;
  color: black;
}

.textdark {
  color: black;
}

.background {
  background-color: #161616;
  border: 1px solid rgb(63, 62, 62);
  /* spatiu deasupra textului */
  padding-top: 30px;
  /* spatiu sub text :) */
  padding-bottom: 30px;
}

.background:hover{
  background-color: grey;
}
.struct8 {
  background-image: url(Imagini/Background8.png);
  background-color: #161616;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.btn-margin {
  margin-top: 50px;
  margin-bottom: 110px;
}

.margtop {
  margin-top: 40px;
}

.line-height {
  line-height: 40px;
}

.cardtext3 {
  margin-left: 37px;
  margin-right: 37px;
  font-size: 16.5px;
}

.re{
  text-align: center;
  font-size: 20px;
  color: red;
  margin-top: 30px; margin-right:0px;
}


.style9 .padding {
  max-width: 850px;
  background: #f5f5f5d4;
  position: absolute;
  top: 80px;
  right: 0px!important;
  padding: 30px 10px 30px 50px;
}

.margin-top {
  margin-top: 30px;
}



.colortext {
  color: rgb(158, 157, 157);
  text-decoration: none !important;
}

.colortext:hover {
  color: white !important;
}


.marginbottom {
  margin-bottom: 5px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #f50000;
  color: #fffefe;
  cursor: pointer;
  padding: 2px;
  border-radius: 100px;
}

#myBtn:hover {
  background-color: #555;
}

.bg-light1 {
  background-color: white;
}

.style3 {
  position: relative;
  top: 100px;
}


.contact form button {
  align-self: center;
  padding: 10px 50px;
  background: rgb(207, 77, 77) !important;
  border-color: transparent !important;
  color: white !important;
  font-size: 20px !important;
  margin: 30px;
  border-radius: 5px;
  font-weight: bold !important;
  letter-spacing: 2px !important;
}

.contact form button:hover {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(207, 77, 77) !important;
  cursor: pointer;
}

.contact form h1 {
  margin-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px !important;
  color: rgb(223, 223, 223) !important;
  text-align: center;
}


element.style {
  transform: translate3d(0px, 0px, 0px);
  padding: 2% !important;
}

.fontsize {
  font-size: 18px !important;
}

.margintop {
  margin-top: 10px !important;
}

img {
  vertical-align: middle;
  border-style: none;
}


.custom-select {
  width: auto !important;
  height: auto !important;
  background: transparent !important;
}

.margin1 {
  margin-left: 15px;
}

.modify {
  margin: 15px !important;
}

.logo {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 3s;
  -moz-animation-name: fadein;
  -moz-animation-duration: 3s;
  -ms-animation-name: fadein;
  -ms-animation-duration: 3s;
  -o-animation-name: fadein;
  -o-animation-duration: 3s;
  animation-name: fadein;
  animation-duration: 3s;
}

.word {
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}



@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -250px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -250px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@-ms-keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -250px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@-o-keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -250px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -250px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .slide2 .title {
    text-align: left;
  }

  .slide2 .text {
    text-align: left;
  }

  .slide2 .subtit {
    text-align: left;
  }
}

@media (min-width: 1750px) {
  .container {
    max-width: 1500px !important;
  }

  .struct1 .font {
    font-size: 30px;
  }

  .struct1 .subt {
    font-size: 90px;
  }

  .struct1 .line-sp {
    line-height: 100px;
  }

  .struct1 .text {
    font-size: 25px;
  }

  .text {
    font-size: 20px;
  }

  .marginbutton {
    padding-bottom: 30px;
  }

  .lines {
    line-height: 35px;
  }

  .slide3 .col-md-11 {
    max-width: 100% !important;
  }

  .text-struct1 {
    max-width: 100%;
  }

  .nav-link {
    font-size: 20px !important;
  }

  .dropdown-item {
    text-align: center !important;
    font-size: 20px !important;
    color: red !important;

  }

  .textdec {
    font-size: 25px;
  }

  .img-padding {
    width: 10%;
  }

  .title {
    font-size: 20px;
  }

  .subtit {
    font-size: 40px;
  }

  .img2-style {
    width: 200%;
  }

  .slide3 .padding {
    max-width: 1000px;
    padding: 80px 80px;
  }

  .centered {
    font-size: 20px !important;
  }

  .button1 {
    width: 300px !important;
    height: 60px !important;
    font-size: 20px !important;
  }

  .cardtext1 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
  }


  .cardtext2 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
  }

  .cardtext3 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
  }

  .style9 .padding {
    top: 120px;
    right: -490px;
    padding: 40px 200px 40px 100px;
  }

  .color {
    font-size: 20px;
    text-decoration: none !important;
    color:black;
  }

  .color:hover{
    text-decoration: none !important;
    color: black!important;
  }


  .colortext {
    font-size: 18px !important;
  }

  .style9 .subtit {
    font-size: 35px;
  }

  .footer .text-white {
    font-size: 20px !important;
  }

  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    padding: 3% !important;
  }

  .colortext1 {
    font-size: 18px !important;
    margin-bottom: 100px !important;
    margin-top: 50px !important;
  }


  .style9.padding {
    max-width: 850px;
    background: #f5f5f5d4;
    position: absolute;
    top: 80px;
    right: 0px;
    padding: 30px 150px 30px 50px;
  }

  .text-struct1 {
    margin-top: 30px;
  }

  .font {
    padding-top: 10px;
  }

  .border-top {
    margin-top: 50px !important;
  }

  .footer .container {
    max-width: 1300px;
  }

  .contact form h1 {
    font-size: 50px !important;
  }

  .contact form button {
    font-size: 25px !important;
  }

  .contact form textarea {
    font-size: 25px;
  }

  .inp {
    font-size: 25px;
  }

  .fontsize {
    font-size: 25px !important;
  }

  #myBtn {
    font-size: 10px !important;
  }
}

@media (max-width:3504px) {
  #myBtn {
    font-size: 30px !important;
    padding: 2px !important;

  }
}

@media(max-width: 2004px) {

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 10px;
    left: 1836px;
  }
}

@media (min-width: 2000px) {
  .container {
    max-width: 1900px !important;
  }

  .style9 .padding {
    top: 200px;
    padding: 50px 200px 50px 100px;
  }

  .struct1 .subt {
    max-width: 60%;
  }

  .struct1 .marginbutton {
    padding-bottom: 30px;
  }

  .struct1 .text {
    font-size: 27px;
  }

  .struct1 .marginbutton {
    padding-bottom: 0px;
  }

  .title {
    font-size: 27px;
  }

  .subtit {
    font-size: 50px;
  }

  .text {
    font-size: 27px;
  }

  .lines {
    line-height: 50px;
  }

  .button1 {
    width: 350px !important;
    height: 80px !important;
    font-size: 27px !important;
  }

  .cardtext1 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 27px;
  }

  .cardtext2 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 27px;
  }

  .cardtext3 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 27px;
  }

  .style9 .subtit {
    font-size: 50px;
  }

  .color {
    font-size: 25px;
  }

  .textdec {
    font-size: 27px !important;
  }

  .footer .text-white {
    font-size: 27px !important;
  }

  .colortext {
    font-size: 22px !important;
  }

  .colortext1 {
    font-size: 22px !important;
  }
}



@media (max-width: 1772px) {
  .imagineamea {
    width: 331.5px !important;
    margin-right: 30px !important;
  }
}

@media (max-width: 1771px) {
  .imagineamea {
    width: 330.5px !important;
    margin-right: 30px !important;
  }
}


@media (max-width: 1697px) {
  .imagineamea {
    width: 307.5px !important;
    margin-right: 30px !important;
  }
}

@media (max-width: 1568px) {
  #myBtn {
    font-size: 16px !important;
    padding: 2px;
  }

}

@media (max-width: 1500px) {
  .cardtext1 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .cardtext2 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .cardtext3 {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media(max-width:14422px){
  .style9 .padding {
    max-width: 850px;
    background: #f5f5f5d4;
    position: absolute;
    top: 80px;
    right: 0px!important;
    padding: 34px 137px 30px 50px;
}

}

@media (max-width: 1201px) {
  .marginbutton1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .slide3 .padding {
    padding: 20px;
  }

  .slide3 .col-md-7 {
    max-width: 100%;
  }

  .slide3 .col-md-12 {
    text-align: center;
  }

  .slide3 .col-md-11 {
    max-width: 100% !important;
  }
}




@media (max-width: 1200px) {
  .slide3 .padding {
    position: initial;
    max-width: 100%;
  }

  .style3 {
    top: 10px !important;
    padding-bottom: 30px !important;
  }

  .slide4 {
    margin-top: 0px;
  }

  .style9 .padding {
    position: initial;
    max-width: 100%;
    padding: 20px;
  }

  .padding {
    padding: 0px;
  }

  .style3 {
    top: 0px;
  }

  .style4 {
    margin-top: 50px;
  }

  .text-slide4 {
    width: 100%;
  }

  .swiper {
    padding-top: 40px !important;
    padding-bottom: 50px !important;
    padding: 45px !important;


  }

  .text-struct {
    width: 100%;
  }


  .btn-margin {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .img2-style {
    position: initial !important;
  }

  .text-slide2 {
    position: initial !important;
  }

  .slide2 .col-md-6 {
    width: 100%;
  }
}



@media (max-width: 1149px) {
  .swiper-slide {
    padding: 23% !important;
  }

}






@media (max-width: 1199px) {
  .margin {
    margin-left: 0px;
  }

  .font {
    padding-top: 10px;
  }

  .subt {
    text-align: center;
    max-width: 100%;
    margin-bottom: 10px;
    font-size: 30px;
  }

  .title {
    text-align: center;
  }

  .line-space {
    line-height: 50px;
  }

  .line-sp {
    line-height: normal;
  }

  .text {
    text-align: center;
  }

  .text-struct1 {
    max-width: 100%;
  }

  .marginbutton {
    padding-top: 20px;
    padding-bottom: 0px;
  }
}

@media (max-width:1091px) {
  .textalgncenter {
    text-align: center;
  }
}

@media (max-width:1004px) {
  #myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #f50000;
    color: #fffefe;
    cursor: pointer;
    padding: 2px;
    border-radius: 100px;
  }
}

@media (max-width: 992px) {
.ppp{
  color: #fff;
}
  .img2-style {
    margin-bottom: 50px;
  }

  .navbar-nav {
    text-align: center;
  }

  .dropdown-menu {
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
  }

  .navbar {
    padding: 10px !important;
  }

  .navimg {
    width: 300px !important;
  }

  .bg-light1 {
    background-color: #161616 !important;
  }

  .navbar2 .text-dark1 {
    color: white !important;
  }

  .contact form {
    padding: 0px !important;
    border: none !important;
  }

  .contact form h1 {
    font-size: 30px !important;
    margin-bottom: 0px !important;
  }

  .contact form button {
    font-size: 16px !important;
  }

  .contact form textarea {
    font-size: 16px;
  }

  .inp {
    font-size: 16px;
  }

  .fontsize {
    font-size: 16px !important;
  }
}

@media (max-width: 900px) {
  .swiper-button-next {
    left: 100px;
  }

  .swiper-button-prev {
    left: 20px;
  }
}

@media (max-width:787px) {
  #myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 6px;
    border: none;
    outline: none;
    background-color: #f50000;
    color: #fffefe;
    cursor: pointer;
    padding: 2px;
    border-radius: 100px;
  }

  .marginbutton1{
    padding-block-end: 10px;
    left:100px;
    width:223px;
  }
}

@media (max-width: 768px) {
  .pos-image {
    margin-bottom: 0px;
  }

  .col-md-7 {
    max-width: 100%;
  }

  .subtit {
    text-align: center;
    font-size: 20px;
  }

  .margright {
    margin-right: 0px;
  }

  /* text infasurat in */
  .padlogo3 {
    float: initial;
  }


  .style9 .col-md-6 {
    text-align: center;
  }
}
.marginbutton1{
  padding-block-end: 10px;
  left:100px;
  width:223px;
}
@media (max-width: 726px) {
.marginbutton{
  margin-block: 3px;
    min-height: 1px;
    padding-right: 15px!important;
    padding-left: 15px!important;
}

}
@media (max-width: 576px) {
  .marginbutton {
    padding-left: 120px;
    padding-right: 20px;
  }

  .background{
     padding: 40px; 
    width:13px;
    margin: 23px;
  }

  .navimg {
    width: 200px !important;
  }
}

@media (max-width: 537px) {
  .subt-width {
    width: 100%;
  }
}

@media (max-width: 519px) {
  .subt-width1 {
    width: 100%;
  }
}


/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/roboto-v30-latin-300.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/roboto-v30-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('fonts/roboto-v30-latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/roboto-v30-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('fonts/roboto-v30-latin-300.svg#Roboto') format('svg');
  /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v30-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('fonts/roboto-v30-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/roboto-v30-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('fonts/roboto-v30-latin-regular.svg#Roboto') format('svg');
  /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/roboto-v30-latin-500.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/roboto-v30-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('fonts/roboto-v30-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/roboto-v30-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('fonts/roboto-v30-latin-500.svg#Roboto') format('svg');
  /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v30-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/roboto-v30-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('fonts/roboto-v30-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/roboto-v30-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('fonts/roboto-v30-latin-700.svg#Roboto') format('svg');
  /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/roboto-v30-latin-900.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/roboto-v30-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('fonts/roboto-v30-latin-900.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/roboto-v30-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('fonts/roboto-v30-latin-900.svg#Roboto') format('svg');
  /* Legacy iOS */
}